<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>结算页面</title>
<link rel="icon" href="/static/img/icon.ico" sizes="32x32">
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>

	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">结算</span>
			<div>
				<span>欢迎<span class="um_span">{{.UserName}}</span>光临vincenzo书城</span>
				<a href="/logout">注销</a>
				<a href="/getMyOrder">我的订单</a>
				<a href="/getCartInfo">购物车</a>
				<a href="/">返回商城</a>
			</div>
	</div>
	
	<div id="main">
		<h1>你的订单已结算，订单号为<span style="color: red">{{.OrderId}}</span></h1>
	</div>
	
	<div id="bottom">
		<span>
			&copy;vincenzo书城. github:github.com/vcz
		</span>
	</div>

</body>
</html>